In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
sns.set_style("whitegrid")
plt.rcParams["figure.figsize"] = (12, 7)

In [2]:
print (os.getcwd())

C:\Users\udita\Food Inflation

In [3]:
df = pd.read_csv(r"C:\Users\udita\Food Inflation\Essential_food_inflation_2024_2025.csv")

In [5]:
df.head(72)

    SN NO.      PRODUCT           STATE  YEAR  PRICE
0        1        wheat  Madhya Pradesh  2024   2590
1        2        wheat  Madhya Pradesh  2025   2653
2        3        wheat   Uttar Pradesh  2024   2360
3        4        wheat   Uttar Pradesh  2025   2425
4        5        wheat     West Bengal  2024   2500
..     ...          ...             ...   ...    ...
67      68  Mustard Oil   Uttar Pradesh  2025  14480
68      69  Mustard Oil     West Bengal  2024  13520
69      70  Mustard Oil     West Bengal  2025  16200
70      71  Mustard Oil          Punjab  2024  13000
71      72  Mustard Oil          Punjab  2025  12200

[72 rows x 5 columns]

In [6]:
df = df.rename(columns={'PRICE (RS/Quintal)': 'PRICE'})
df.shape
df.columns
df.columns = df.columns.str.strip().str.upper()

In [65]:
df.loc[49,"PRICE"]=7600
df.loc[51,"PRICE"]=10000
df.loc[57,"PRICE"]=3950
df.loc[55,"PRICE"]=8250
df.loc[31,"PRICE"]=15800
df.loc[45,"PRICE"]=1900
df.loc[39,"PRICE"]=7600
df.loc[19,"PRICE"]= 1527
df.loc[43,"PRICE"]= 1450
df.loc[53,"PRICE"]= 18250
df.loc[28,"PRICE"]= 12200
df.loc[29,"PRICE"]= 12200
df.loc[21,"PRICE"]= 2900
df.loc[47,"PRICE"]=1400
df.loc[38,"PRICE"]=1400

In [66]:
df.to_csv("Essential_food_inflation_2024_2025.csv", index=False)

In [22]:
UP = df[df["STATE"]=="Uttar Pradesh"]
UP.columns = UP.columns.str.strip().str.upper()
print(UP)

    SN NO.      PRODUCT          STATE  YEAR  PRICE
2        3        wheat  Uttar Pradesh  2024   2360
3        4        wheat  Uttar Pradesh  2025   2425
10      11         Rice  Uttar Pradesh  2024   3040
11      12         Rice  Uttar Pradesh  2025   3370
18      19        Onion  Uttar Pradesh  2024   1570
19      20        Onion  Uttar Pradesh  2025   1527
26      27      Tur Dal  Uttar Pradesh  2024  13900
27      28      Tur Dal  Uttar Pradesh  2025  11150
34      35       Tomato  Uttar Pradesh  2024   1370
35      36       Tomato  Uttar Pradesh  2025   1300
42      43       Potato  Uttar Pradesh  2024   1800
43      44       Potato  Uttar Pradesh  2025   1450
50      51       Garlic  Uttar Pradesh  2024   9900
51      52       Garlic  Uttar Pradesh  2025  10000
58      59        Sugar  Uttar Pradesh  2024   4130
59      60        Sugar  Uttar Pradesh  2025   4230
66      67  Mustard Oil  Uttar Pradesh  2024  12600
67      68  Mustard Oil  Uttar Pradesh  2025  14480

In [25]:
pivoted1 = UP.pivot_table(index= "PRODUCT",columns="YEAR", values="PRICE")

# Step 2: Calculate percentage change
pivoted1["Perc_Change"] = ((pivoted1[2025] - pivoted1[2024]) / pivoted1[2024]) * 100

print(pivoted1.reset_index())

YEAR      PRODUCT     2024     2025  Perc_Change
0          Garlic   9900.0  10000.0     1.010101
1     Mustard Oil  12600.0  14480.0    14.920635
2           Onion   1570.0   1527.0    -2.738854
3          Potato   1800.0   1450.0   -19.444444
4            Rice   3040.0   3370.0    10.855263
5           Sugar   4130.0   4230.0     2.421308
6          Tomato   1370.0   1300.0    -5.109489
7         Tur Dal  13900.0  11150.0   -19.784173
8           wheat   2360.0   2425.0     2.754237

In [36]:
MP = df[df["STATE"]=="Madhya Pradesh"]
MP.columns = MP.columns.str.strip().str.upper()
print(MP)

    SN NO.      PRODUCT           STATE  YEAR  PRICE
0        1        wheat  Madhya Pradesh  2024   2590
1        2        wheat  Madhya Pradesh  2025   2653
8        9         Rice  Madhya Pradesh  2024   2439
9       10         Rice  Madhya Pradesh  2025   2900
16      17        Onion  Madhya Pradesh  2024   1677
17      18        Onion  Madhya Pradesh  2025   1000
24      25      Tur Dal  Madhya Pradesh  2024   5417
25      26      Tur Dal  Madhya Pradesh  2025   5500
32      33       Tomato  Madhya Pradesh  2024   1500
33      34       Tomato  Madhya Pradesh  2025   2000
40      41       Potato  Madhya Pradesh  2024   2000
41      42       Potato  Madhya Pradesh  2025   1396
48      49       Garlic  Madhya Pradesh  2024   7500
49      50       Garlic  Madhya Pradesh  2025   7600
56      57        Sugar  Madhya Pradesh  2024   3760
57      58        Sugar  Madhya Pradesh  2025   3950
64      65  Mustard Oil  Madhya Pradesh  2024  10000
65      66  Mustard Oil  Madhya Pradesh  2025  14400

In [37]:
pivoted2 = MP.pivot_table(index= "PRODUCT",columns="YEAR", values="PRICE")

# Step 2: Calculate percentage change
pivoted2["Perc_Change"] = ((pivoted2[2025] - pivoted2[2024]) / pivoted2[2024]) * 100

print(pivoted2.reset_index())

YEAR      PRODUCT     2024     2025  Perc_Change
0          Garlic   7500.0   7600.0     1.333333
1     Mustard Oil  10000.0  14400.0    44.000000
2           Onion   1677.0   1000.0   -40.369708
3          Potato   2000.0   1396.0   -30.200000
4            Rice   2439.0   2900.0    18.901189
5           Sugar   3760.0   3950.0     5.053191
6          Tomato   1500.0   2000.0    33.333333
7         Tur Dal   5417.0   5500.0     1.532213
8           wheat   2590.0   2653.0     2.432432

In [54]:
WB = df[df["STATE"]=="West Bengal"]
WB.columns = WB.columns.str.strip().str.upper()
print(WB)

    SN NO.      PRODUCT        STATE  YEAR  PRICE
4        5        wheat  West Bengal  2024   2500
5        6        wheat  West Bengal  2025   2750
12      13         Rice  West Bengal  2024   3300
13      14         Rice  West Bengal  2025   4125
20      21        Onion  West Bengal  2024   2750
21      22        Onion  West Bengal  2025   2900
28      29      Tur Dal  West Bengal  2024  12200
29      30      Tur Dal  West Bengal  2025  12200
36      37       Tomato  West Bengal  2024   3800
37      38       Tomato  West Bengal  2025   3200
44      45       Potato  West Bengal  2024   2260
45      46       Potato  West Bengal  2025   1900
52      53       Garlic  West Bengal  2024  18200
53      54       Garlic  West Bengal  2025  18250
60      61        Sugar  West Bengal  2024   3800
61      62        Sugar  West Bengal  2025   4273
68      69  Mustard Oil  West Bengal  2024  13520
69      70  Mustard Oil  West Bengal  2025  16200

In [55]:
pivoted3= WB.pivot_table(index= "PRODUCT",columns="YEAR", values="PRICE")

# Step 2: Calculate percentage change
pivoted3["Perc_Change"] = ((pivoted3[2025] - pivoted3[2024]) / pivoted3[2024]) * 100

print(pivoted3.reset_index())

YEAR      PRODUCT     2024     2025  Perc_Change
0          Garlic  18200.0  18250.0     0.274725
1     Mustard Oil  13520.0  16200.0    19.822485
2           Onion   2750.0   2900.0     5.454545
3          Potato   2260.0   1900.0   -15.929204
4            Rice   3300.0   4125.0    25.000000
5           Sugar   3800.0   4273.0    12.447368
6          Tomato   3800.0   3200.0   -15.789474
7         Tur Dal  12200.0  12200.0     0.000000
8           wheat   2500.0   2750.0    10.000000

In [67]:
PB = df[df["STATE"]=="Punjab"]
PB.columns = PB.columns.str.strip().str.upper()
print(PB)

    SN NO.      PRODUCT   STATE  YEAR  PRICE
6        7        wheat  Punjab  2024   2275
7        8        wheat  Punjab  2025   2430
14      15         Rice  Punjab  2024   2203
15      16         Rice  Punjab  2025   4500
22      23        Onion  Punjab  2024   1100
23      24        Onion  Punjab  2025   1600
30      31      Tur Dal  Punjab  2024   6040
31      32      Tur Dal  Punjab  2025  15800
38      39       Tomato  Punjab  2024   1400
39      40       Tomato  Punjab  2025   7600
46      47       Potato  Punjab  2024   1000
47      48       Potato  Punjab  2025   1400
54      55       Garlic  Punjab  2024   6000
55      56       Garlic  Punjab  2025   8250
62      63        Sugar  Punjab  2024   4018
63      64        Sugar  Punjab  2025   4035
70      71  Mustard Oil  Punjab  2024  13000
71      72  Mustard Oil  Punjab  2025  12200

In [68]:
pivoted4= PB.pivot_table(index= "PRODUCT",columns="YEAR", values="PRICE")

# Step 2: Calculate percentage change
pivoted4["Perc_Change"] = ((pivoted4[2025] - pivoted4[2024]) / pivoted4[2024]) * 100

print(pivoted4.reset_index())

YEAR      PRODUCT     2024     2025  Perc_Change
0          Garlic   6000.0   8250.0    37.500000
1     Mustard Oil  13000.0  12200.0    -6.153846
2           Onion   1100.0   1600.0    45.454545
3          Potato   1000.0   1400.0    40.000000
4            Rice   2203.0   4500.0   104.266909
5           Sugar   4018.0   4035.0     0.423096
6          Tomato   1400.0   7600.0   442.857143
7         Tur Dal   6040.0  15800.0   161.589404
8           wheat   2275.0   2430.0     6.813187